@import "compass/css3/transition";
@import "_normalize";
@import "_skeleton";
@import "_carousel.scss";

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}

/* remove link decorations */
  a {  text-decoration: none; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   @main   
   Author's custom styles
   ========================================================================== */
   
   
   // @vars
   // Style variables 
   $main-color : rgb( 61, 61, 61 );
   $secondary-color: rgb( 205, 200, 174 );
   $tertiary-color: rgb( 63, 169, 245 );
   $BG-color : white;
   
   // Position variables
   $proj-img-top-margin: 70px;   

   html, body, .vertical-carousel, ul { 
     @extend .carousel-setup;
   } 
       
   body { 
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
     background: $BG-color;
   }

// @Spinner

   .spinner_container { 
      display: block;
      margin: 30% auto 0 auto;
   }    
  .spinner {
    width: 30px;
    height: 30px;
    background-color: #333;

    margin: 100px auto;
    -webkit-animation: rotateplane 1.2s infinite ease-in-out;
    animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
   0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


html.js .page_wrap{
   display: none;
}


.page_wrap {
   @include container;
   height: 100%;	
   max-height: 100%;
}


///* nav extends */ 
.icon-container { 
   position: relative;
   float: left;
   width: 100%;
   height: 100%;
   padding-top: 22%;
}

.nav-text{
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif; 
  font-weight: 100; 
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 34px;
  text-align : center;
  color : $secondary-color;
  @include transition-property(color);
  @include transition-duration(.2s);

  
  &:hover, &:active { 
    color: $main-color;
  }
}

.focused_nav { 
   @extend .nav-text;
   color: $main-color !important;
};

.nav_toggle { 
  display: hidden;
}


///* @nav */  

.nav_background{ 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background:white;	       
  z-index: 999;
} 

nav {
  @include columns(3); 
  position: absolute;
  height: 18%;
  z-index: 1000;


 // for profile on nav
 /*
  .profile_icon_container { 
    @extend .icon-container;
        
    .profile_icon{ 
      background: url('../img/sprites/second_sprite_big.png') no-repeat;
      background-size: 250%;
      background-position: 118% -1%;
      // avrg sizes
      width: 100%;
      height: 100%;
      overflow:hidden;
    }
  }
*/

  .home_icon_container{
    @extend .icon-container;  
       
    .home_icon{	
      @extend .nav-text;
      font-size: 40px;                  
    }
  }

  .ux_icon_container{ 
    @extend .icon-container;

    .ux_icon{ 
      @extend .nav-text;
    }   
  }
  
  .gpx_icon_container{ 
    @extend .icon-container;

    .gpx_icon{ 
      @extend .nav-text;
    }   
  }
  
  .code_icon_container{ 
    @extend .icon-container;

    .code_icon{ 
      @extend .nav-text;
    }   
  }
 
  .links_icon_container{ 
    @extend .icon-container;

    .links_icon{ 
      @extend .nav-text;
      font-size: 40px;	
    }   
  }
  
 }//end nav


// @carousel
.vertical-carousel{ 
  @extend .carousel-element;
} 

// @Main Content // 
//extends
.content_rails{ 
  @extend .carousel-container;
  list-style-type: none;
  @include offset(3);
  height: 100%;
}
.content-sections { 
  @extend .carousel-pane;
  @include columns(13);
  @include alpha;
  @include omega;
  height: 100%;
  min-height: 100px;
}
.content-container{ 
   @include columns(10);     
   @include clearfix;
   height:33.33%;
   max-height: 300px;
   border-bottom: 1px solid $secondary-color;
   @include transition-property(background);
   @include transition-duration(.5s);
   &:hover, &:active{ 
     color: $BG-color;
     background: $secondary-color;
   }
}


li.intro{ 
  @extend .content-sections;

}
   .intro_container {
     @extend .content-container;
     margin-top: 30%;
     
     @media only screen and (max-width: $botMaxWidth ){
	font-size: 22px; 
        margin-top: 40%;
     }
     &:hover, &:active { 
       background: none;
     } 
   }  
   
   .intro_container{ 
     @extend .intro_container;	
     padding-left: 11%;
     padding-right: 11%;
     border: none;
     margin-bottom: 0px;
      
     .intro{
	font-size : 27px;
	font-weight: normal;
	color: $main-color;
	padding-bottom: 10%;
	border-bottom: 1px solid $secondary-color;	

	@media only screen and (max-width: $botMaxWidth ){
		font-size: 22px; 
	}
	a {
	  color: $secondary-color;
	}
     } // intro 
   } // intro_container



// project extend classes
.project-image{
   background: url('../img/sprites/main_sprite_separeted.png') no-repeat;
   background-size: 270%;
   // avrg sizes
   width: 100%;
   height: 100%;
   overflow:hidden;
}

li.ux { 
  @extend .content-sections;

  .project_block { 
    @extend .content-container;

    .riotry_image {
      @extend .project-image;
      background-position:-2% 6%;
    }
    
    .stampede_image {
      @extend .project-image;
      background-position: -1% 39%;
    }

    .sudo_image {
      @extend .project-image;
      background-position: -2% 69%;
      
    }
  }
}


li.gpx { 
  @extend .content-sections;


  .project_block_sudotouch { 
    @extend .content-container;
    height: 50%;

   
    .sudotouch_image {
      @extend .project-image;
      background-position: 50% 1%;
    }
   }

   .project_block_cervantes { 
    @extend .project_block_sudotouch;


    .cervantes_image {
      @extend .project-image;
      background-position: 50% 39%;
    }
  }
}


	

li.code { 
  @extend .content-sections;
 
  .project_block { 
    @extend .content-container;
     
    .oat_image {
      @extend .project-image;
      background-position: 103% 7%;
    }
    
    .data_spider_image {
      @extend .project-image;
      background-position: 103% 38.5%;
    }
    
    .riotry_demo_image {
      @extend .project-image;	
      background-position: 103% 70%;
    }
    
    span { 
       display: block;
       margin-top: -11%;
       color: $main-color;
       font-weight: bolder;
       text-align: center;
    }
  }
}


// link section extends
.link-sections {
   @extend .content-sections;
}
.link-container{
   @extend .content-container;
   @include columns(5);
   border: none;
}
.link-images{ 
   @extend .project-image;
   background-size: 550%;
}				


li.links { 
  @extend .content-sections;

  .link_block { 
    @extend .link-container;

    .email_image {
      @extend .link-images;
      background-position: -3% 102%;
    }
    
    .linkedin_image {
      @extend .link-images;
      background-position: 12.8% 102%;
    }

    
    .github_image {
      @extend .link-images;
      background-position: 28.5% 102%;
    }
    
    .instagram_image {
      @extend .link-images;
      background-position: 44.7% 102%;
    }
    
    .quora_image {
      @extend .link-images;
      background-position: 60.2% 102%;
    }
    
    .rdio_image {
      @extend .link-images;
      background-position: 76.3% 102%;
    }
    
    span{
      display: block;
      margin-top:-27%;	
      color: $main-color;
      font-weight: bolder;
      text-align: center;
      &:hover, &:active { 
        color: $BG-color !important;
      }
    }
  }
}




// @tablet sections
html.tablet_size body ul {

    // ux		  
    .project_block { 

      .riotry_image {

      }
    
      .stampede_image {

      }

      .sudo_image {

     }
   }
   
  // graphics
  .project_block_sudotouch { 
    .sudotouch_image {

    }
   }

   .project_block_cervantes {    
    .cervantes_image {

    }
  }

  // code
  .project_block { 
      
    .oat_image {

    }
    
    .data_spider_image {

    }
    
    .riotry_demo_image {

    }
  }

  // links
   .link_block { 

    .email_image {

    }
    
    .linkedin_image {

    }
    
    .github_image {

    }
    
    .instagram_image {

    }
    
    .quora_image {

    }
    
    .rdio_image {

    }
  }
}



.mobile-icon { 
  margin-top: -15%;
} 


// @mobile
html.mobile_size body {
  
  nav { 
    @include columns( 16 );
    background: $BG-color;
  
    .home_icon_container{
      @extend .icon-container;  
       
      .home_icon{	
        @extend .nav-text;
	@extend .mobile-icon;
        font-size: 40px;                    
      }
    }

    .ux_icon_container{ 
      @extend .icon-container;

      .ux_icon{ 
        @extend .nav-text;
	@extend .mobile-icon;
      }   
    }
  
    .gpx_icon_container{ 
      @extend .icon-container;

      .gpx_icon{ 
        @extend .nav-text;
	@extend .mobile-icon;
      }   
    }
  
    .code_icon_container{ 
      @extend .icon-container;

      .code_icon{ 
        @extend .nav-text;
	@extend .mobile-icon;
      }   
    }
 
    .links_icon_container{ 
      @extend .icon-container;

      .links_icon{ 
        @extend .nav-text;
	@extend .mobile-icon;
        font-size: 40px;	
      }   
    }
   }


  .nav_toggle{ 
    position: absolute;
    width: 150px;
    height: 50px;
    left: 0px;
    top: 0px;
    z-index: 1001;

    .nav_icon_hamburger { 
      position:relative;
      float: left;
      width: 50%;
      height: 100%;
      content:"";
      background: url('../img/sprites/second_sprite_big.png') 
      no-repeat;
      background-position: -5% -4.8%;
      background-size: 270%;		
   }
   
   .nav_icon_x { 
      @extend .nav_icon_hamburger;
      background-position: -3% 7%;
      background-size: 350%;		
   }

   .home_mini { 
      @extend .nav_icon_hamburger;
      background-size: 550%;	  
      margin-left: -10px;	  
      background-position: 9% 64.8%;
   }

   .ux_mini { 
     @extend .home_mini;
     background-position: 9% 16.5%;
   }

   .gpx_mini { 
     @extend .home_mini;
     background-position: 9% 28.1%;
   }
  
   .code_mini { 
     @extend .home_mini;
     background-position: 9% 39.5%;
   } 

   .links_mini { 
     @extend .home_mini;
     background-position: 9% 82%;
   }
  }




  // @mobile projects
     // ux		  
    .project_block { 

      .riotry_image {

      }
    
      .stampede_image {

      }

      .sudo_image {

     }
   }
   
  // graphics
  .project_block_sudotouch { 
    .sudotouch_image {

    }
   }

   .project_block_cervantes {    
    .cervantes_image {

    }
  }

  // code
  .project_block { 
      
    .oat_image {

    }
    
    .data_spider_image {

    }
    
    .riotry_demo_image {

    }
  }
  
  .removeBackground{
    @media screen and ( max-height: 600px ){
       background: none;
    }
  }
  
  // links
   .link_block { 
     height: 16.6%;
     max-height: 16.6%;     

    .email_image {
      @extend .removeBackground;          
    }
    
    .linkedin_image {
      @extend .removeBackground;		          
    }
    
    .github_image {
      @extend .removeBackground;          
    }
    
    .instagram_image {
      @extend .removeBackground;          
    }
    
    .quora_image {
      @extend .removeBackground;          
    }
    
    .rdio_image {
      @extend .removeBackground;          
    }
    
    span{
      display: block;
      margin-top:-15%;	
      color: $main-color;
      font-weight: bolder;
      text-align: center;
    }
  }
}

.mobile-sm-icon { 
  margin-top: -20%;
}

// @mobile_sm
html.mobile_sm_size body {
  
  nav { 
    background: $BG-color;

    .home_icon_container{
      @extend .icon-container;  
       
      .home_icon{	
        @extend .nav-text;
	@extend .mobile-sm-icon;
        font-size: 40px;                    
      }
    }

    .ux_icon_container{ 
      @extend .icon-container;

      .ux_icon{ 
        @extend .nav-text;
	@extend .mobile-sm-icon;
      }   
    }
  
    .gpx_icon_container{ 
      @extend .icon-container;

      .gpx_icon{ 
        @extend .nav-text;
	@extend .mobile-sm-icon;
      }   
    }
  
    .code_icon_container{ 
      @extend .icon-container;

      .code_icon{ 
        @extend .nav-text;
	@extend .mobile-sm-icon;
      }   
    }
 
    .links_icon_container{ 
      @extend .icon-container;

      .links_icon{ 
        @extend .nav-text;
	@extend .mobile-sm-icon;
        font-size: 40px;	
      }   
    }
  }


  .nav_toggle{ 
    position: absolute;
    width: 150px;
    height: 50px;
    left: 0px;
    top: 5px;
    z-index: 1001;



    .nav_icon_hamburger { 
      position:relative;
      float: left;
      width: 50%;
      height: 100%;
      content:"";
      background: url('../img/sprites/second_sprite_big.png') 
      no-repeat;
      background-position: -5% -3.8%;
      background-size: 300%;		
   }
   
   .nav_icon_x { 
      @extend .nav_icon_hamburger;
      background-position: -5% 6.5%;
   }

   .home_mini { 
      @extend .nav_icon_hamburger;
      margin-left: -18px;
      background-size: 550%;	  
      background-position: 9% 64.8%;
   }

   .ux_mini { 
     @extend .home_mini;
     background-position: 9% 16.5%;
   }

   .gpx_mini { 
     @extend .home_mini;
     background-position: 9% 28.1%;
   }
  
   .code_mini { 
     @extend .home_mini;
     background-position: 9% 39.5%;
   } 

   .links_mini { 
     @extend .home_mini;
     background-position: 9% 82%;
   }
  }


  .mobile-content-container { 
    @extend .content-Container;
    max-height: 150px;
  }

  // @mobile_sm projects
     // ux		  
    .project_block { 
      @extend .mobile-content-container;    

      .riotry_image {


      }
    
      .stampede_image {

      }

      .sudo_image {

     }
   }
   
  // graphics
  .project_block_sudotouch { 
    @extend .mobile-content-container;

    .sudotouch_image {

    }
   }

   .project_block_cervantes {    
    .cervantes_image {

    }
  }

  // code
  .project_block { 
    @extend .mobile-content-container;      
    .oat_image {

    }
    
    .data_spider_image {

    }
    
    .riotry_demo_image {

    }
  }
  
  .removeBackground{
    @media screen and ( max-height: 1000px ){
       background: none;
    }
  }
  
  // links
   .link_block { 
     height: 16.6%;
     max-height: 16.6%;     

    .email_image {
      @extend .removeBackground;          
    }
    
    .linkedin_image {
      @extend .removeBackground;		          
    }
    
    .github_image {
      @extend .removeBackground;          
    }
    
    .instagram_image {
      @extend .removeBackground;          
    }
    
    .quora_image {
      @extend .removeBackground;          
    }
    
    .rdio_image {
      @extend .removeBackground;          
    }
    
    span{
      display: block;
      margin-top:-15%;	
      color: $main-color;
      font-weight: bolder;
      text-align: center;
    }
  }
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}


/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
